<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @event do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :name, "Title" %>
        <%= f.text_field :name %>

        <%= f.label :description, "Description" %>
        <%= f.text_area :description, size: "40x8" %>

        <%= f.label :date, "Date" %>
        <%= f.date_field :date %>

        <%= f.label :private, "Private" %>
        <%= f.radio_button :private %>
        <%= f.submit "Add event", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>